.btn {
  @apply inline-block rounded border border-transparent px-5 py-2 font-semibold capitalize transition;
}

.btn-sm {
  @apply rounded-sm px-4 py-1.5 text-sm;
}

.btn-primary {
  @apply border-primary bg-primary text-white no-underline dark:border-darkmode-primary dark:bg-white dark:text-dark;
}

.btn-outline-primary {
  @apply border-dark bg-transparent text-dark no-underline hover:bg-dark hover:text-white dark:border-white dark:text-white dark:hover:bg-white dark:hover:text-dark;
}

//* Ensure CSS variables are defined */
:root {
  --icon-color-light: theme('colors.text.light');
  --icon-color-dark: theme('colors.darkmode.text.light');
}

/* Update icon styles */
.social-icons a {
  color: var(--icon-color-light); /* Default color */
}

[data-theme="dark"] .social-icons a {
  color: var(--icon-color-dark); /* Dark mode color */
}

/* Social Icons Container */
.social-icons {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 5px;
  background-color: #00000000;
  gap: 40px;
}

/* Social Icons Links */
.social-icons a {
  color: var(--icon-color-light); /* Use CSS variable for color */
  line-height: 70px;
  font-size: 70px;
  text-decoration: none;
  margin: 0; /* Reset margin for all anchors */
}

/* Social Icons Font Awesome Icons */
.social-icons a i {
  line-height: 70px;
  font-size: 70px;
  transition: all 200ms ease-in;
  transform: scale(1);
}

/* Hover Effects */
.social-icons a:hover i {
  box-shadow: 0px 0px 150px #00000000;
  z-index: 2;
  transform: scale(1.5);
}