// section style
.section {
  @apply py-24 xl:py-28;
  &-sm {
    @apply py-16 xl:py-20;
  }
}

// container
.container {
  @apply mx-auto max-w-[1320px] px-4;
}

// form style
.form-input {
  @apply w-full rounded border-transparent bg-theme-light px-6 py-4 text-dark placeholder:text-light focus:border-primary focus:ring-transparent dark:border-darkmode-border dark:bg-darkmode-theme-light dark:text-darkmode-light;
}

.form-label {
  @apply mb-4 block font-secondary text-xl font-normal text-dark dark:text-darkmode-light;
}

// social icons
.social-icons {
  @apply space-x-4;
  li {
    @apply inline-block;
    a {
      @apply flex h-9 w-9 items-center justify-center rounded bg-primary text-center leading-9 text-white dark:bg-darkmode-primary dark:text-dark;
      svg {
        @apply h-5 w-5;
      }
    }
  }
}

// notice
.notice {
  @apply mb-6 rounded-lg border px-8 py-6;
  &-head {
    @apply flex items-center;
    svg {
      @apply mr-3;
    }
    p {
      @apply font-secondary text-xl font-semibold text-dark dark:text-darkmode-light;
    }
  }
  .notice-body {
    @apply mt-3;
    p {
      @apply my-0;
    }
  }

  &.note {
    @apply text-[#1B83E2];
    @apply border-current;
  }

  &.tip {
    @apply text-[#40D294];
    @apply border-current;
  }

  &.info {
    @apply text-[#E3A72C];
    @apply border-current;
  }

  &.warning {
    @apply text-[#DB2C23];
    @apply border-current;
  }
}

// swiper pagination
.testimonial-slider-pagination {
  .swiper-pagination-bullet {
    @apply h-2.5 w-2.5 bg-theme-light opacity-100 dark:bg-darkmode-theme-light;

    &-active {
      @apply h-4 w-4 bg-primary dark:bg-darkmode-primary;
    }
  }
}

// tab
.tab {
  @apply overflow-hidden rounded-lg border border-border dark:border-darkmode-border;
  &-nav {
    @apply flex border-b border-border bg-theme-light dark:border-darkmode-border dark:bg-darkmode-theme-light;
    @apply m-0 #{!important};
    @apply list-none #{!important};

    &-item {
      @apply cursor-pointer border-b-[3px] border-border py-2 text-lg text-dark opacity-80 dark:border-light;
      @apply my-0 #{!important};
      @apply px-8 #{!important};

      &.active {
        @apply border-b-[3px] border-dark opacity-100 dark:border-darkmode-primary;
      }
    }
  }
  &-content {
    &-panel {
      @apply p-8;
      p {
        @apply mb-0;
      }
      &.active {
        @apply block;
      }
    }
  }
}

// accordion
.accordion {
  @apply mb-6 overflow-hidden rounded-lg border border-border bg-theme-light dark:border-darkmode-border dark:bg-darkmode-theme-light;
  &-header {
    @apply flex w-full cursor-pointer items-center justify-between px-8 py-4 text-lg text-dark dark:bg-darkmode-theme-light dark:text-darkmode-light;
  }
  &-icon {
    @apply ml-auto h-[.8em] w-[.8em] rotate-[-90deg] transition-transform duration-200;
  }
  &-content {
    @apply max-h-0 overflow-hidden px-8 py-0;
  }
  &.active {
    .accordion-icon {
      @apply rotate-0;
    }
    .accordion-content {
      @apply max-h-screen;
    }
  }
}

// modal
.modal {
  @apply fixed inset-0 z-40 hidden h-full w-full overflow-auto;
  &-overlay {
    @apply fixed inset-0 z-40 hidden h-full w-full bg-black bg-opacity-40;
  }
  &-content {
    @apply relative top-1/2 z-50 mx-auto max-w-[90%] -translate-y-1/2 rounded-lg bg-body p-8 dark:bg-darkmode-body;
  }
  &-close {
    @apply absolute right-3 top-3 h-8 w-8 rounded-full bg-theme-light text-center leading-8 text-dark dark:bg-darkmode-theme-light dark:text-darkmode-dark;
  }
}

// content style
.content {
  @apply prose max-w-none;
  @apply prose-headings:mb-[.3em] prose-headings:mt-[.6em] prose-headings:text-dark prose-headings:dark:text-darkmode-dark;
  @apply prose-h1:text-h1-sm md:prose-h1:text-h1;
  @apply prose-h2:text-h2-sm md:prose-h2:text-h2;
  @apply prose-h3:text-h3-sm md:prose-h3:text-h3;
  @apply prose-img:max-w-full prose-img:rounded;
  @apply prose-hr:border-border prose-hr:dark:border-darkmode-border;
  @apply prose-p:text-base prose-p:text-text prose-p:dark:text-darkmode-text;
  @apply prose-blockquote:rounded-lg prose-blockquote:border prose-blockquote:border-l-[10px] prose-blockquote:border-primary prose-blockquote:bg-theme-light prose-blockquote:px-8 prose-blockquote:py-10 prose-blockquote:font-secondary prose-blockquote:text-2xl prose-blockquote:not-italic prose-blockquote:text-dark prose-blockquote:dark:border-darkmode-primary prose-blockquote:dark:bg-darkmode-theme-light prose-blockquote:dark:text-darkmode-light;
  @apply prose-pre:rounded-lg prose-pre:bg-theme-light prose-pre:dark:bg-darkmode-theme-light;
  @apply prose-code:px-1 prose-code:text-primary prose-code:dark:text-darkmode-primary;
  @apply prose-strong:text-dark prose-strong:dark:text-darkmode-text;
  @apply prose-a:text-text prose-a:underline hover:prose-a:text-primary prose-a:dark:text-darkmode-text hover:prose-a:dark:text-darkmode-primary;
  @apply prose-li:text-text prose-li:dark:text-darkmode-text;
  @apply prose-table:relative prose-table:overflow-hidden prose-table:rounded-lg prose-table:before:absolute prose-table:before:left-0 prose-table:before:top-0 prose-table:before:h-full prose-table:before:w-full prose-table:before:rounded-[inherit] prose-table:before:border prose-table:before:content-[""] prose-table:before:dark:border-darkmode-border;
  @apply prose-thead:border-border prose-thead:bg-theme-light prose-thead:dark:border-darkmode-border prose-thead:dark:bg-darkmode-theme-light;
  @apply prose-th:relative prose-th:z-10 prose-th:px-4 prose-th:py-[18px] prose-th:text-dark prose-th:dark:text-darkmode-text;
  @apply prose-tr:border-border prose-tr:dark:border-darkmode-border;
  @apply prose-td:relative prose-td:z-10 prose-td:px-3 prose-td:py-[18px] prose-td:dark:text-darkmode-text;
}

.section {
  position: relative; /* Create a positioning context for child elements */
}

.background-image-wrapper {
  position: absolute;
  // top: 400px; /* Increase this value to move the image further down */
  left: 0;
  width: 100%;
  z-index: -1; /* Ensure it is behind the banner content */
}

.background-image {
  width: 100%;
  background-attachment: fixed;
  height: auto; /* Maintain aspect ratio */
  display: block;
  opacity: 0.7; /* Adjust the opacity level (0.0 to 1.0) */
}

.container {
  position: relative; /* Ensure the container is above the background image */
  z-index: 1;
}

.next-section {
  position: relative; /* Ensure this section is above the background image */
  z-index: 1;
}

.feature-image-wrapper {
  position: relative;
  display: inline-block;
}

.feature-image-wrapper::before {
  content: "";
  position: absolute; /* Use absolute positioning */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  width: 100%; /* Set the width to 80% */
  height: 100%; /* Full height of the parent */
  background: rgba(0, 36, 43, 0.37); /* Optional: background color for the shadow effect */
  z-index: -1; /* Ensure it’s behind the content */
  box-shadow: 0px 3px 0px rgba(0, 36, 43, 0.36); /* Adjust shadow dimensions and color */
  filter: blur(12px); /* Apply blur effect */
  transform: translate(-50%, -50%); /* Center the pseudo-element */
  /* Optional: Adjust if you need extra offset */
}

.feature-image {
  position: relative;
  width: 100%;
  height: auto;
}

/* Default layout for larger screens */
.image-title-container {
  display: flex;
  flex-wrap: wrap;
}

.image-wrapper {
  flex: 0 0 50%; /* Make the image take 50% width on desktop */
  order: 2; /* Keep image next to the text by default */
  max-width: 50%; /* Ensure it doesn’t grow larger than 50% */
}

.text-wrapper {
  flex: 0 0 50%; /* Make the text take 50% width on desktop */
  order: 1; /* Text comes first */
  max-width: 50%; /* Ensure it doesn’t grow larger than 50% */
}

/* Mobile layout */
@media (max-width: 768px) {
  .col-5 {
    order: 2;
    width: 100%;
  }
  .col-7,
  .col-6 {
    order: 1;
    width: 100%;
    margin-bottom: 20px;
  }
}

  .image-wrapper {
    order: 1; /* Image comes first on mobile */
    width: 100%; /* Image takes full width on mobile */
    max-width: 100%; /* Prevents overflow */
  }

  .text-wrapper {
    order: 2; /* Text comes after image on mobile */
    width: 100%; /* Text takes full width on mobile */
    max-width: 100%; /* Prevents overflow */
  }

 